page-home {
 background: url(/home/samuel/Documents/ionic/cryptoTracker/cryptoTracker/src/assets/imgs/crypto.jpg);
 ion-footer{
     font-size: 1em;
     background-color:  map-get($colors, light);
     color: seashell;
 }
 ion-item-sliding{
     margin-top: 10px;
 }
 .holding{
     background-color: #f9f9f9;
     text-transform: uppercase;
     .amount{
         font-size: 0.7em;
     }
 }
 .value{
     margin-top: 10px;
     color:map-get($colors,secondary);
     font-size: 1.2em;
 }
//  .body{

//     background: url(/home/samuel/Documents/ionic/cryptoTracker/cryptoTracker/src/assets/imgs/crypto.jpg);
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     width: 80%;
//     height: 246px;
//     margin: auto;
//     z-index: 2;
//     position: relative;
//  }
}
